/* HEADER */
#header-logo {
  margin-left: 8vw;
}
#header-title {
  display: inline;
  font-size: 2.5rem;
}
#header-menu {
  font-size: 1.5rem;
  margin-right: 8vw;
}
#header-menu .header-menu-item {
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  margin: 0 0.5vw;
}

/* MAIN */
main section {
  width: 84vw;
}
main section .colortag p {
  padding: 1rem 0.5rem;
  font-size: 1.3rem;
}
main section .txt-cont p {
  max-height: 15vh;
}
