/* HEADER */
#header-logo {
  margin-left: 20rem;
}
#header-title {
  font-size: 4rem;
}
header span {
  font-size: 1.5rem;
}
#header-menu {
  font-size: 2rem;
  margin-right: 20rem;
}
/* MAIN  - LANDING*/
#landing {
  flex-direction: row;
}
#landing #main-pic {
  height: 30rem;
}
#landing h1 {
  font-size: 5rem;
  padding: 0 0 0 2rem;
}
#landing h1 span {
  display: inline;
}

/* MAIN */

#main .main-subtitle {
  font-size: 4rem;
  padding: 1.5rem 20rem 1.5rem 20rem;
}
#main .main-subtitle + p {
  padding: 1rem 20rem 5rem 20rem;
  line-height: 2.5rem;
}
