/* HEADER */
#header-logo {
  margin-left: 8vw;
}
#header-title {
  display: inline;
  font-size: 2.5rem;
}
#header-menu {
  font-size: 1.5rem;
  margin-right: 8vw;
}
#header-menu .header-menu-item {
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  margin: 0 0.5vw;
}
/* MAIN  - LANDING*/

#landing #main-pic {
  height: 30rem;
}
#landing h1 {
  font-size: var(--fs-title);
}

/* MAIN */

main .main-subtitle {
  font-size: var(--fs-subtitle);
  padding: 2rem 8vw;
}
main .main-subtitle + p {
  padding: 1rem 8vw 5rem 8vw;
  font-size: var(--fs-body);
  line-height: 4.5rem;
}
