/* GLOBAL */
:root {
  --jet: #2f2f2f;
  --davys-gray: #5b5b5b;
  --dim-gray: #999999;
  --gainsboro: #dadada;
  --cedar: #d34f45;
  --orange-red: #ff6054;
  --terra-cotta: #ed8067;
  --leaf-green: #b6e09f;
  --tea-green: #c3e6b0;
  --fern-green: #677e5a;
  --russian-green: #7c996d;
  --queen-blue: #427092;
  --turk-blue: #426695;
  --lasso-blue: #415b98;
  --deep-blue: #41519b;
  --dark-blue: #41469e;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: "Monserrat";
  background-color: var(--gainsboro);
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gainsboro);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--russian-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--fern-green);
}
/* VARIABLES */
@font-face {
  font-family: Monserrat;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Monserrat;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Monserrat;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: semibold;
}
@font-face {
  font-family: Monserrat;
  src: url(../../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: thin;
}
@font-face {
  font-family: Monserrat;
  src: url(../../fonts/Montserrat/Montserrat-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
/* HEADER */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: var(--fern-green);
}
#header-logo {
  margin-left: 3vw;
  height: 100%;
}
#titlediv {
  text-align: center;
}
#header-title {
  display: none;
  font-size: 6vh;
  font-weight: bold;
  color: var(--gainsboro);
}
header span {
  display: none;
  color: var(--gainsboro);
  font-size: 0.5rem;
  font-weight: semibold;
  text-align: right;
}
#header-menu {
  margin-right: 3vw;
  justify-content: space-between;
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  font-size: 2vh;
}
#header-menu .header-menu-item {
  border: 1px solid var(--gainsboro);
  border-radius: 1vh;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  margin: 0 1vw;
}
#header-menu .header-menu-item:hover {
  background-color: var(--russian-green);
}
#header-menu a {
  text-decoration: none;
  color: var(--gainsboro);
  font-weight: bold;
}

/* MAIN */

main {
  width: 94vw;
  margin: 0 3vw;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

main .main-introtext {
  margin: 5vh 0vw;
  line-height: 3.5vh;
  text-align: center;
  font-weight: lighter;
  font-family: Monserrat;
  color: var(--jet);
  font-size: 2vh;
}

main h2 {
  margin: 2vh 0vw;
  color: var(--jet);
  font-size: 3vh;
}
main p {
  margin: 0 0vw 3rem 0vw;
  line-height: 3vh;
  font-size: 2vh;
  color: var(--jet);
}
main .main-codebox {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 1.5vh;
  font-family: monospace;
  padding: 3vh 3vw;
  background-color: var(--dim-gray);
}
main img {
  margin: 1vh 0 3vh 0;
  align-self: center;
  width: 100%;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  background-color: var(--russian-green);
}
footer p {
  padding: 3vh 5vh;
  text-align: center;
  font-size: 2.5vh;
}
footer p a {
  color: var(--jet);
  text-decoration: none;
  font-weight: bold;
}
footer .copyright {
  padding: 2vh;
  color: var(--jet);
  font-size: 2vh;
}
